<img
  class="review__client"
  src="../src/images/reviews/desktop/client-011d.jpg"
  srcset="
    ../src/images/reviews/desktop/client-011d.jpg    1x,
    ../src/images/reviews/desktop/client-011d@2x.jpg 2x
  "
  alt="review 011"
/>
<include src="./partials/database/review-rate-4star.html"></include>
<h3 class="review__client-name">Henry</h3>
<article class="swiper-slide review__client-text">
  <h3 class="review__client-header">Henry</h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, veritatis impedit praesentium ut
  ex fuga, rem pariatur animi error consectetur mollitia et culpa quasi nam necessitatibus aliquam
  facilis optio hic!
</article>
