<img
  class="review__client"
  src="../src/images/reviews/desktop/client-012d.jpg"
  srcset="
    ../src/images/reviews/desktop/client-012d.jpg    1x,
    ../src/images/reviews/desktop/client-012d@2x.jpg 2x
  "
  alt="review 012"
/>
<include src="./partials/database/review-rate-5star.html"></include>
<h3 class="review__client-name">Alexander</h3>
<article class="swiper-slide review__client-text">
  <h3 class="review__client-header">Alexander</h3>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, laudantium suscipit. Porro
  repudiandae, quam ratione vitae doloribus nulla soluta cupiditate labore rem? Tenetur voluptatibus
  nam nihil nemo! Cum, dolorem voluptas?
</article>
