<img
  class="review__client"
  src="../src/images/reviews/desktop/client-006d.jpg"
  srcset="
    ../src/images/reviews/desktop/client-006d.jpg    1x,
    ../src/images/reviews/desktop/client-006d@2x.jpg 2x
  "
  alt="review 006"
/>
<include src="./partials/database/review-rate-3star.html"></include>
<h3 class="review__client-name">Olivia</h3>
<article class="swiper-slide review__client-text">
  <h3 class="review__client-header">Olivia</h3>
  Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Несколько
  всемогущая переписали взобравшись свою буквоград мир одна до снова пояс единственное, которое
  ручеек, безопасную маленький. Жизни маленькая ее над.
</article>
