<img
  class="review__client"
  src="../src/images/reviews/desktop/client-013d.jpg"
  srcset="
    ../src/images/reviews/desktop/client-013d.jpg    1x,
    ../src/images/reviews/desktop/client-013d@2x.jpg 2x
  "
  alt="review 013"
/>
<include src="./partials/database/review-rate-5star.html"></include>
<h3 class="review__client-name">Isabella</h3>
<article class="swiper-slide review__client-text">
  <h3 class="review__client-header">Isabella</h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ratione accusamus ad ut
  maiores, a incidunt alias placeat cum ipsum repudiandae ea. Mollitia quibusdam qui atque ullam
  cupiditate facilis aperiam?
</article>
