<div class="review__client--rate">
  <svg class="review__rate" width="24px" height="24px">
    <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
  </svg>
  <svg class="review__rate" width="24px" height="24px">
    <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
  </svg>
  <svg class="review__rate" width="24px" height="24px">
    <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
  </svg>
  <svg class="review__rate" width="24px" height="24px">
    <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
  </svg>
  <svg class="review__rate" width="24px" height="24px">
    <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
  </svg>
</div>
