<section class="contact" id="contact">
  <div class="container contact__container">
    <h2 class="title title--size">Contact</h2>
    <p class="text text--size contact__text">We will answer any question!</p>
    <form class="form contact__form">
      <input
        type="email"
        name="mail"
        placeholder="Email"
        autocomplete="on"
        required
        class="form__input"
      />
      <input
        type="text"
        name="question"
        placeholder="Type your question"
        required
        class="form__input"
      />
      <button type="submit" class="button form__button">Send</button>
    </form>
  </div>
</section>
