<footer class="footer footer__bg">
	<div class="container  footer__container">
		<ul class="list social-list footer__social-list">
			<li class="social-list__item">
				<a
					href="https://twitter.com/"
					class="social-list__link link"
					target="_blank"
					rel=" noopener noreferrer "
				>
					<svg class="social-list__icon">
						<use href="./images/sprite/sprite.svg#icon-twitter"></use>
					</svg>
				</a>
			</li>
			<li class="social-list__item">
				<a
					href="https://www.instagram.com/"
					class=" social-list__link link"
					target="_blank"
					rel=" noopener noreferrer "
				>
					<svg class="social-list__icon">
						<use href="./images/sprite/sprite.svg#icon-instagram"></use>
					</svg>
				</a>
			</li>
			<li class="social-list__item">
				<a
					href="https://www.facebook.com/"
					class="social-list__link link"
					target="_blank"
					rel=" noopener noreferrer "
				>
					<svg class="social-list__icon">
						<use href="./images/sprite/sprite.svg#icon-facebook"></use>
					</svg>
				</a>
			</li>
		</ul>

		<address>
			<ul class="list footer__list">
			
				<li class="footer__item">
					<a href="tel:9102228855" class="link footer__link">
						<svg class="footer__icon footer__icon-phone">
							<use href="./images/sprite/sprite.svg#icon-phone"></use>
						</svg>
						(910)222-8855
					</a>
				</li>
					<li class="footer__item">
					<a
						href="https://goo.gl/maps/VQXExMRzq7kg8s1C6"
						class="link footer__link"
						target="_blank"
						rel=" noopener noreferrer "
						>
						<svg class="footer__icon footer__icon-location">
							<use href="./images/sprite/sprite.svg#icon-location"></use>
						</svg>
						New York</a
					>
				</li>
			</ul>
		</address>
	</div>
</footer>