<!--SECTION PROGRAM-->
<section class="program" id="program">
    <div class="container program__container">
        <div class="program__container--text">
            <h2 class="title program__title">Program</h2>
            <p class="text program__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen in her
                New York donut shop!<br />
                <br /></p>
            <ul class="list program-list">
                <li class="program-list__item program__text">A stand up history of donuts</li>
                <li class="program-list__item program__text">Make 3 donut flavors of your choice</li>
                <li class="program-list__item program__text">Enjoy all-you-can-eat donuts</li>
                <li class="program-list__item program__text">Cocktail pairings and coffee included</li>
                <li class="program-list__item program__text">Photoshoot by professional photographer</li>
                <li class="program-list__item program__text">Secret receipt of cooking from Eva</li>
                <li class="program-list__item program__text">All products are included in the price </li >
                
            </ul >
            <input type="checkbox" class="program__read-more" id="rm-hiden" />
        <p class="text program__text program__text--visually">
          Come with your dear people and friends and you will spend an unforgettable time and will
          become a real professional in donuts cooking!
        </p>
        <label for="rm-hiden" class="read-more--text"></label>
        </div>
        <div>
            <ul class="list program-list__event">
                <li class="program-list__event--item">
                    <div class="program-list__event--item--donat">
                    
                        <picture>
                            <source
                                srcset="../src/images/program/mobile/mini_donut_1_mobile.png 1x, ../src/images/program/mobile/mini_donut_1_mobile@2x.png 2x"
                                media="(max-width: 767.98px)">
                            <source srcset="../src/images/program/tablet/mini_donut_1_tablet.png 1x, ../src/images/program/tablet/mini_donut_1_tablet@2x.png 2x"
                                media="(min-width: 768px)">
                            <source srcset="../src/images/program/desktop/mini_donut_1_desktop.png 1x, ../src/images/program/desktop/mini_donut_1_desktop@2x.png 2x"
                                media="(max-width: 1280px)">
                        
                            <img class="program-list__event--item--size--1" src="../src/images/program/mobile/mini_donut_1_mobile.png" alt="First donut">
                        </picture>
                    </div>
                    <h3 class=" title program-list__event--item--subtitle"> Type of the event</h3>
                    <p class="program-list__event--item--subtext">Cooking classes</p>
                    <svg  class="program-list__event--item--icon--1">
                        <use href="./images/sprite/sprite.svg#icon-chef"></use>
                    </svg>
                </li>

                <li class="program-list__event--item">
                    <div class="program-list__event--item--donat">
                    
                        <picture>
                            <source
                                srcset="../src/images/program/mobile/mini_donut_2_mobile.png 1x, ../src/images/program/mobile/mini_donut_2_mobile@2x.png 2x"
                                media="(max-width: 767.98px)">
                            <source
                                srcset="../src/images/program/tablet/mini_donut_2_tablet.png 1x, ../src/images/program/tablet/mini_donut_2_tablet@2x.png 2x"
                                media="(min-width: 768px)">
                            <source
                                srcset="../src/images/program/desktop/mini_donut_2_desktop.png 1x, ../src/images/program/desktop/mini_donut_2_desktop@2x.png 2x"
                                media="(max-width: 1280px)">
                    
                            <img class="program-list__event--item--size--2" src="../src/images/program/mobile/mini_donut_2_mobile.png" alt="Second donut" >
                        </picture>
                    </div>
                    <h3 class="title program-list__event--item--subtitle">Number of guests</h3>
                    <p class="program-list__event--item--subtext">1 to 20</p>
                    <svg class="program-list__event--item--icon--2" >
                        <use href="./images/sprite/sprite.svg#icon-people"></use>
                    </svg>
                </li>

                <li class="program-list__event--item">
                    <div class="program-list__event--item--donat">
                    
                        <picture>
                            <source
                                srcset="../src/images/program/mobile/mini_donut_3_mobile.png 1x, ../src/images/program/mobile/mini_donut_3_mobile@2x.png 2x"
                                media="(max-width: 767.98px)">
                            <source
                                srcset="../src/images/program/tablet/mini_donut_3_tablet.png 1x, ../src/images/program/tablet/mini_donut_3_tablet@2x.png 2x"
                                media="(min-width: 768px)">
                            <source
                                srcset="../src/images/program/desktop/mini_donut_3_desktop.png 1x, ../src/images/program/desktop/mini_donut_3_desktop@2x.png 2x"
                                media="(max-width: 1280px)">
                    
                            <img class="program-list__event--item--size--3" src="../src/images/program/mobile/mini_donut_3_mobile.png" alt="Third donut">
                        </picture>
                    </div>
                    <h3 class=" title program-list__event--item--subtitle">Time of the event</h3>
                    <p class="program-list__event--item--subtext">18:30 (2.5 hours)</p>
                    <svg class="program-list__event--item--icon--3" >
                        <use href="./images/sprite/sprite.svg#icon-clock"></use>
                    </svg>
                </li>

                <li class="program-list__event--item">
                    <div class="program-list__event--item--donat">
                    
                        <picture>
                            <source
                                srcset="../src/images/program/mobile/mini_donut_4_mobile.png 1x, ../src/images/program/mobile/mini_donut_4_mobile@2x.png 2x"
                                media="(max-width: 767.98px)">
                            <source
                                srcset="../src/images/program/tablet/mini_donut_4_tablet.png 1x, ../src/images/program/tablet/mini_donut_4_tablet@2x.png 2x"
                                media="(min-width: 768px)">
                            <source
                                srcset="../src/images/program/desktop/mini_donut_4_desktop.png 1x, ../src/images/program/desktop/mini_donut_4_desktop@2x.png 2x"
                                media="(max-width: 1280px)">
                    
                            <img class="program-list__event--item--size--4" src="../src/images/program/mobile/mini_donut_4_mobile.png" alt="Fourth donut" >
                        </picture>
                    </div>
                    <h3 class=" title program-list__event--item--subtitle">The host speaks</h3>
                    <p class="program-list__event--item--subtext">English, French</p>
                    <svg class="program-list__event--item--icon--4" >
                        <use href="./images/sprite/sprite.svg#icon-chat"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>
