<section class="reviews" id="reviews">
  <h2 class="title reviews__title">Reviews</h2>
  <!-- Reviews Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- Client 001 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-001.html"></include>
        <!-- Next client 015 002-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-002prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-015prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 002 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-002.html"></include>
        <!-- Next client 001 003-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-003prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-001prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 003 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-003.html"></include>
        <!-- Next client 002 004-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-004prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-002prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 004 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-004.html"></include>
        <!-- Next client 003 005-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-005prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-003prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 005 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-005.html"></include>
        <!-- Next client 004 006-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-006prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-004prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 006 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-006.html"></include>
        <!-- Next client 005 007-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-007prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-005prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 007 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-007.html"></include>
        <!-- Next client 006 008-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-008prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-006prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 008 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-008.html"></include>
        <!-- Next client 007 009-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-009prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-007prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 009 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-009.html"></include>
        <!-- Next client 008 010-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-010prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-008prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 010 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-010.html"></include>
        <!-- Next client 009 011-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-011prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-009prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 011 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-011.html"></include>
        <!-- Next client 010 012-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-012prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-010prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 012 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-012.html"></include>
        <!-- Next client 011 013-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-013prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-011prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 013 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-013.html"></include>
        <!-- Next client 012 014-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-014prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-012prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 014 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-014.html"></include>
        <!-- Next client 013 015-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-015prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-013prv.html"></include>
          </div>
        </div>
      </div>
      <!-- Client 015 -->
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-015.html"></include>
        <!-- Next client 014 001-->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <include src="./partials/database/client-data-001prv.html"></include>
          </div>
          <div class="review__client-preview-pervious">
            <include src="./partials/database/client-data-014prv.html"></include>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination review__counter"></div>
  </div>
  <!-- Swiper Init -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.swiper-container', {
      direction: 'horizontal',
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });
  </script>
  <!-- Swiper Init End -->
</section>
