.button {
  font-family: Caveat Brush, sans-serif;
  color: var(--read-more-color);
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 3.61;
  padding: 0;
  cursor: pointer;
  margin-top: 5px;
}
