$body-default-text-color: #2e2520;
$body-default-header-color: #2e2520;
$body-light-text-color: #ffffff;
$body-dark-header-color: #000000;
$body-default-background-color: #e5e5e5;
$body-dark-background-color: #fef3e4;
$body-default-icon-color: #674d40;
$body-light-icon-color: #ab816c;
$body-light-icon-color: #2e2520;

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$review-name-001: John;
$review-name-002: Will;
$review-name-003: Elisabeth;
