.program {
  background-color: var(--background-color);
  padding-bottom: 45px;
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }

  &__container {
    margin-bottom: 25px;
    justify-content: center;
    @media screen and (min-width: 320px) {
      min-width: 320px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      padding-bottom: 40px;
    }

    &--text {
      @media screen and (min-width: 320px) and (max-width: 1279.98px) {
        width: 1280px;
        padding-bottom: 50px;
        max-width: 290px;
      }
      @media screen and (min-width: 1280px) {
        font-size: 18px;
        line-height: 1.22;
      }

      @media screen and (min-width: 1280px) {
        max-width: 392px;
        margin-right: 20px;
      }
    }
  }

  &__title {
    @media screen and (max-width: 767.98px) {
      text-align: center;
    }
    @media screen and (min-width: 1280px) {
      font-size: 36px;
      line-height: 1.81;
    }
  }

  &__button {
    @media screen and (max-width: 1279.98px) {
      display: block;
    }

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  .program-list {
    &__item::before {
      content: '\3E';
      margin-right: 5px;
    }
    &__item {
      margin-bottom: 10px;
    }
    @media screen and (min-widthh: 1280px) {
      font-size: 18px;
      line-height: 1.22;
    }
  }

  #much {
    display: none;

    // @media screen and (min-width: 1280px) {
    //   visibility: hidden;
    // }
  }
}
.program-list__event {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 40px;

  &--item {
    position: relative;
    background-color: #fef3e4;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

    @media screen and (min-width: 1280px) {
      width: 180px;
      height: 180px;
    }
  }

  &--item:nth-child(2n) {
    @media screen and (max-width: 319.98px) {
      transform: translateY(0px);
    }
    transform: translateY(30px);
    margin-left: 6px;
    @media screen and (min-width: 1280px) {
      transform: translateY(50px);
      margin-left: 20px;
    }
  }
  &--item:nth-child(-n + 2) {
    margin-bottom: 57px;
    @media screen and (max-width: 319.98px) {
      margin-bottom: 0px;
    }
  }

  &--item:not(:first-child) {
    @media screen and (max-width: 319.98px) {
      margin-top: 40px;
    }
  }
  &--item--donat {
    position: absolute;
    display: block;
    top: -20%;
    left: 35px;
    @media screen and (min-width: 1280px) {
      top: -25%;
      left: 45px;
    }
  }

  &--item--subtitle {
    margin-top: 49.7px;
    font-size: 18px;
    line-height: 1.28;
    color: #000000;

    @media screen and (min-width: 1280px) {
      font-size: 24px;
      line-height: 1.25;
      margin-top: 63px;
    }
  }
  &--item--subtext {
    margin-top: 12.6px;
    margin-bottom: 13.4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
  }
  &--item--icon--1 {
    width: 19.5px;
    height: 18px;
    @media screen and (min-width: 1280px) {
      width: 24, 62px;
      height: 22, 82px;
    }
  }
  &--item--icon--2 {
    width: 20px;
    height: 18px;
    @media screen and (min-width: 1280px) {
      width: 26px;
      height: 23, 36px;
    }
  }
  &--item--icon--3 {
    width: 20px;
    height: 20px;
    @media screen and (min-width: 1280px) {
      width: 25px;
      height: 25px;
    }
  }
  &--item--icon--4 {
    width: 25px;
    height: 17px;
    @media screen and (min-width: 1280px) {
      width: 31.48px;
      height: 21.3px;
    }
  }

  &--item--size--1 {
    width: 76.52px;
    height: 84.41px;
    @media screen and (min-width: 1280px) {
      width: 97px;
      height: 107px;
    }
  }
  &--item--size--2 {
    width: 64.86px;
    height: 71.89px;
    @media screen and (min-width: 1280px) {
      width: 83px;
      height: 92px;
    }
  }
  &--item--size--3 {
    width: 69.42px;
    height: 76.52px;
    @media screen and (min-width: 1280px) {
      width: 88px;
      height: 97px;
    }
    &--item--size--4 {
      width: 65.48px;
      height: 72.58px;
      @media screen and (min-width: 1280px) {
        width: 83px;
        height: 92px;
      }
    }
  }
}
.program__read-more {
  display: none;
}

@media screen and (max-width: 1279px) {
  .program-read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
  }

  .program__text--visually {
    opacity: 0;
    max-height: 0;
    font-size: 0;
  }

  .program__read-more:checked ~ .program__text--visually {
    opacity: 1;
    font-size: 16px;
    max-height: 999em;
  }

  .program__read-more ~ .read-more--text:before {
    content: 'Read more';
    display: block;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .program__read-more:checked ~ .read-more--text:before {
    content: 'Less';
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .read-more--text {
    font-family: Caveat Brush;
    cursor: pointer;
    display: inline-block;
    color: var(--read-more-color);
    font-size: 18px;
    line-height: 3.6px;
  }
}
